.App {
  text-align: center;
  display: grid;
  justify-items: center;
}

.title {
  font-size: 3rem;
  margin: 0;
  color: rgb(206, 123, 0);
}

body {
  background-image: url('./images/space-background.jpg');
  background-repeat: no-repeat;
  color: white;
}

.app-body {
  width: 50%;
}

.search-options-outer {
  margin: 0px;
  padding: 0px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
}

.search-input {
  width: 99%;
  margin-bottom: 3px;
  padding: 2px;
  border: none;
  border-bottom: 2px solid black;
}

.search-input:focus {
  outline:0;
}

.search-option {
  text-align: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  color: black;
}

.search-option:hover {
  background-color: lightgray;
}

.button {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
}

.button:hover {
  background-color: lightgray;
  border: 3px solid lightgray;
}

.button-disabled {
  background-color: gray;
  color: black;
  cursor: default;
  border: 3px solid gray;
  border-radius: 5px;
}

.tooltip-outer {
  border: 1.5px solid white;
  background-color: black;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 15%;
  text-align: left;
}

.disease-card {
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.disease-card-selected {
  background-color: lightslategrey;
}

.tooltip-inactive {
  display: none;
}

.tooltip-text {
  margin: 5px;
}

.list-symptom-0 {
  margin: 0;
  padding: 5px;
  background-color: #013D82;
}

.list-symptom-1 {
  margin: 0;
  padding: 5px;
  background-color: #0C0575;
}

.flex {
  display: flex;
}

.tc {
  text-align: center;
}

.grid {
  display: grid;
}

.cols2-1 {
  grid-template-columns: 2fr 1fr;
}

.cols2 {
  grid-template-columns: 1fr 1fr;
}

.items-center {
  justify-items: center;
}